@import url("css/showcase.css");@import url("css/portfolio.css");@import url("css/shortcodes.css");@import url("css/assets.css");
html,body{font:300 14px/1.6 'Poppins',sans-serif;color:#777;background:#000;box-sizing:border-box;height:100%;width:100%;overflow-x:hidden}
body{overflow-y:scroll;transition:opacity .2s .2s}body.hidden{opacity:0}
*,*:before,*:after{margin:0;padding:0;border:0;vertical-align:baseline}
article,aside,details,figcaption,footer,header,hgroup,nav,section{display:block}
img,video,a{-webkit-user-drag:none}
a{text-decoration:none;color:#000;outline:0;transition:color .15s}
a:hover,a:active{color:#000}
.light-content a{color:#fff}
h1,h2,h3,h4,h5,h6{font-weight:600;color:#000;margin-bottom:10px}
.light-content h1,h2,h3,h4,h5,h6{color:#fff!important}
h1{font-size:48px;line-height:60px}h2{36px/48px}h3{30px/40px}h4{24px/36px}h5{18px/28px}h6{14px/24px}
.secondary-font{font:700 oswald,sans-serif}
p{font-size:14px;margin-bottom:10px;line-height:28px;color:#777}
.light-content p{color:#999}
b,strong{font-weight:600;color:#000}.light-content b,strong{color:#fff}
mark,ins{background:#111;color:#fff;padding:0 10px;border-radius:2px}
::selection{background:#000;color:#fff}::-moz-selection{background:#000;color:#fff}
.container{max-width:1280px;width:100%;margin:0 auto;box-sizing:border-box}
.container::after{content:"";display:table;clear:both}
.flex-row{display:flex;flex-wrap:wrap;gap:4%;position:relative;z-index:1;opacity:1;box-sizing:border-box}
.outer{display:table;width:100%;height:100%}.outer, .inner{box-sizing:border-box}
.inner{display:table-cell;vertical-align:middle;width:100%}
.text-left{text-align:left}.text-center{text-align:center}
[class*="one_"],[class*="two_"],[class*="three_"],[class*="four_"],[class*="five_"],[class*="sixth"]{margin-bottom:20px!important}
.one_half{flex:0 0 48%}.one_third{flex:0 0 30.6%}.one_fourth{flex:0 0 22%}.one_fifth{flex:0 0 16.8%}.one_sixth{flex:0 0 13.33%}
.two_fifth{flex:0 0 37.6%}.two_fourth{flex:0 0 48%}.two_third{flex:0 0 65.33%}.three_fifth{flex:0 0 58.4%}
.three_fourth{flex:0 0 74%}.four_fifth{flex:0 0 79.2%}.five_sixth{flex:0 0 82.67%}
#magic-cursor{position:absolute;left:0;top:0;width:30px;height:30px;pointer-events:none;z-index:10000;transition:opacity .2s .5s}body.hidden-ball #magic-cursor{opacity:0!important}
#ball{position:fixed;transform:translate(-50%,-50%);width:30px;height:30px;border:2px solid #000;border-radius:50%;pointer-events:none;box-sizing:border-box}
.light-content #ball,#ball.over-movie,#ball.with-icon{border-color:#fff!important}
#ball:before,#ball:after{font-family:FontAwesome;font-size:6px;width:4px;height:8px;line-height:8px;text-align:center;position:absolute;color:#000;opacity:0;transition:all .2s cubic-bezier(.215,.61,.355,1)}
.light-content #ball:before,_after{color:#fff}
#ball:before{content:"\f078";left:10px;top:32px;transform:translateY(20px)}
#ball:after{content:"\f077";left:10px;top:-12px;transform:translateY(-20px)}
.scale-up#ball:before,.scale-up#ball:after{width:8px;opacity:1;transform:translateY(0)}
.scale-up.scale-none#ball:before,.scale-up.scale-none#ball:after{opacity:0}
#hold-event{position:absolute;top:0;left:0;width:26px;height:26px;border-radius:100%;background:transparent}
#hold-event:after{content:"Hold";position:absolute;right:-18px;top:45px;width:60px;height:10px;box-sizing:border-box;font-size:11px;font-weight:500;line-height:10px;padding-top:10px;text-align:center;color:#000;opacity:0;transition:all .2s cubic-bezier(.215,.61,.355,1)}
.light-content #hold-event:after{color:#fff}
.hold #hold-event:after{opacity:1;padding-top:0;transition-delay:.3s}
#ball-loader{position:absolute;width:40px;height:40px;border-top:2px solid transparent;border-right:2px solid #000;border-bottom:2px solid transparent;border-left:2px solid transparent;border-radius:50%;box-sizing:border-box;opacity:0;transform:translate(-9px,-9px);animation:rot 0.8s infinite;transition:opacity 0s}
.light-content #ball-loader{border-right-color:transparent;border-bottom:2px solid #fff}
.show-loader #ball-loader{opacity:1;transition:opacity .2s}
@keyframes rot{0%{transform:translate(-7px,-7px) rotate(0)}95%{transform:translate(-7px,-7px) rotate(350deg)}100%{transform:translate(-7px,-7px) rotate(360deg)}}
#rotate-device{position:fixed;top:0;left:0;width:100%;height:100%;background:#0f1010 url("images/rotate.png") no-repeat center/100px;z-index:1e3;display:none}
.preloader-wrap{position:fixed;top:0;left:0;width:100%;height:100%;background:#fff;text-align:center;z-index:800}
.light-content.preloader-wrap{background:#000}
.percentage{font:700 3vw oswald,sans-serif;color:transparent;-webkit-text-stroke:1px rgba(0,0,0,1)}
.light-content .percentage{-webkit-text-stroke:1px rgba(255,255,255,1)}
.trackbar{position:relative;width:20vw;height:1px;background:rgba(0,0,0,.1);margin:40px auto}
.light-content .trackbar{background:rgba(255,255,255,.2)}
.loadbar{position:absolute;top:0;left:0;width:0;height:1px;background:#000}
.light-content .loadbar{background:#fff}
header{position:fixed;top:0;left:0;width:100%;height:140px;background:transparent;pointer-events:none;transition:background .4s .3s;z-index:1e3}
#header-container{height:inherit;padding:30px 80px;position:relative;margin:0 auto;opacity:0;transition:opacity .3s}
.header-visible #header-container{opacity:1}
#logo{float:left;position:relative;top:20px;pointer-events:initial;z-index:10}
#logo a{transition:transform .5s .1s}
.logo-hidden #logo a{transform:rotate(-360deg)}
#logo img{display:block;height:40px;width:auto}
.light-content #logo .black-logo{opacity:0}
.light-content #logo .white-logo{opacity:1}
nav{pointer-events:initial}
.flexnav{display:flex;gap:0;float:right;padding:0;margin:0;list-style:none}
.flexnav li{padding:20px;color:#000;position:relative;transition:color .15s}
.light-content .flexnav li a{color:#fff}
.flexnav li a{font:600 12px/20px 'Poppins',sans-serif;text-transform:none;transition:color .15s}
.flexnav li a:hover{color:#000}
.light-content .flexnav li a:hover{color:#fff}
.fullscreen-menu .flexnav li a{font:700 3.5vw/100px Oswald,sans-serif;color:transparent;-webkit-text-stroke:1px rgba(255,255,255,.3)}
.fullscreen-menu .flexnav li:hover a,
.fullscreen-menu .flexnav li a.active{color:#fff;-webkit-text-stroke:1px rgba(255,255,255,0)}
#menu-burger{width:16px;height:22px;position:relative;margin:0 auto}
#menu-burger span{position:absolute;height:2px;width:100%;background:#000;transition:transform .2s,top .2s}
.light-content #menu-burger span{background:#fff}
#menu-burger span:nth-child(1){top:7px}
#menu-burger span:nth-child(2){top:15px}
#menu-burger.open span:nth-child(1){transform:rotate(45deg);top:10px}
#menu-burger.open span:nth-child(2){transform:rotate(-45deg);top:10px}
#showcase-slider{height:100vh}
.swiper-slide .title{position:relative;left:0;transform:translateY(5vh);font:700 86px/120px Oswald,sans-serif;color:transparent;-webkit-text-stroke:1px rgba(0,0,0,.3);transition:transform .4s,opacity .4s;opacity:0}
.light-content .swiper-slide .title{-webkit-text-stroke:1px rgba(255,255,255,.3)}
.swiper-slide-active .title{transform:translateY(10px);opacity:1}
.subtitle{font:600 14px/20px 'Poppins',sans-serif;color:#000;transform:translateY(15vh);opacity:0;transition:transform .4s,opacity .4s}
.light-content .subtitle{color:#fff}
.swiper-slide-active .subtitle{transform:translateY(10px);opacity:1}
footer.fixed{position:fixed;width:100%;height:160px;text-align:center;pointer-events:none}
#footer-container{position:absolute;bottom:0;left:0;width:100%;height:80px;padding:0 80px;opacity:0;transition:opacity .4s}
.footer-middle{margin:0 auto;position:relative;max-width:1180px}
.arrows-wrap{position:relative}
.prev-wrap,.next-wrap{display:inline-block}
.socials-wrap{position:relative;float:right;width:240px;height:160px;color:#000;pointer-events:initial;transition:transform .2s}
.light-content .socials-wrap{color:#fff}
.socials-wrap:hover{transform:translateY(-40px)}
.showcase-subtitles-wrap{}
.socials-icon{float:right;width:30px;height:40px;line-height:40px;text-align:right;transform:scale(1) translateY(20px);transition:transform .2s}
.socials-wrap:hover .socials-icon{transform:scale(0) translateY(40px)}
.socials-text{float:right;font:600 12px/30px 'Poppins',sans-serif;transform:translateY(20px);transition:transform .2s}
.socials-wrap:hover .socials-text{transform:translateY(10px)}
.socials{float:right;margin-top:10px;transform:translateX(15px);transition:transform .2s}
.socials li{float:right;width:40px;height:40px;line-height:40px;margin-left:10px;color:#999;transition:background .4s}
.socials-wrap:hover .socials li:nth-child(5){opacity:1;transform:translateY(10px);transition-delay:.05s}
.socials-wrap:hover .socials li:nth-child(4){transition-delay:.1s}
.socials-wrap:hover .socials li:nth-child(3){transition-delay:.15s}
.socials-wrap:hover .socials li:nth-child(2){transition-delay:.2s}
.socials-wrap:hover .socials li:nth-child(1){transition-delay:.3s}
.socials li a{display:block;font:600 12px/40px 'Poppins',sans-serif;color:#000;transition:opacity .2s}
.light-content .socials li a{color:#fff}
.socials:hover li a{opacity:.3}
.socials li a:hover{opacity:1}
.thumb-container{display:none}
@media(max-width:1600px){.percentage{font-size:4.5vw}.trackbar{width:45vw;margin-top:40px}header{height:120px}#header-container{padding:15px 50px}h1{font-size:36px;line-height:48px}.swiper-slide .title{font-size:70px}}@media(max-width:1024px){header{height:80px}#header-container{padding:0}#logo{left:40px}.fullscreen-menu .flexnav li a{text-align:center}.swiper-slide .title{font-size:60px;line-height:100px}footer.fixed{height:120px}#footer-container{padding:0 50px}}@media(max-width:767px){.percentage{font-size:7vw}header{height:auto}#logo{left:30px}.swiper-slide .title{font-size:50px;line-height:80px}.socials-wrap{width:170px;height:40px}}@media(max-width:479px){.percentage{font-size:9vw}#logo{left:20px}.swiper-slide .title{font-size:40px;line-height:80px}.socials-wrap{width:auto}}@media(min-device-width:375px)and(max-device-width:667px)and(orientation:landscape){#rotate-device{display:block}}body.page-loaded{overflow-y:auto!important;height:auto!important}
